<.form for={@form} id="forgot-password-form" action={~p"/users/forgot-password"} class="space-y-4">
  <.input
    field={@form[:email]}
    type="email"
    label="Email"
    autocomplete="email"
    required
    phx-mounted={JS.focus()}
  />

  <.button type="submit" variant="default" class="w-full">
    Send reset instructions
  </.button>
</.form>
